RDC_ENV=staging
RDC_DEPLOYMENT_ID=staging-example
RDC_S3_ENDPOINT=https://staging-object-storage.internal.example
RDC_S3_REGION=us-east-1
RDC_S3_BUCKET=rdc-staging-example
RDC_S3_ACCESS_KEY=REQUIRED_FROM_STAGING_RECOVERY_SECRET_MANAGER
RDC_S3_SECRET_KEY=REQUIRED_FROM_STAGING_RECOVERY_SECRET_MANAGER
